.modal-wheel{
    z-index: 15;
    position: fixed;
    top: 0;
    left: 30%;
    width: 40%;
    margin: 1rem auto;
    background: rgba(13,13,13,.8);
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color:antiquewhite;
    padding: 2rem;
}

.step-button{

    display: flex;
    justify-content: center;
    padding: 10rem 20rem;

    .btn-spin{
        color: white;
        background: black;
        border: none;
        padding: 5rem 10rem 5rem;
        border-radius: 5rem;
        cursor: pointer;
    }
}