.modal-wheel{
    z-index: 15;
    position: fixed;
    top: 0;
    left: 30%;
    width: 40%;
    margin: 1rem auto;
    // height: 100%;
    background: rgba(13,13,13,.8);
    align-items: center;
    justify-content: center;
    color:antiquewhite;
    align-items: center;
    padding: 2rem;
}

.step-button{

    display: flex;
    justify-content: center;
    padding: 2rem;

    .btn-spin{
        color: white;
        background: black;
        border: none;
        font-size: inherit;
        padding: 0.9rem 2rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
}