.counter{
  display: flex;
  justify-content: center;
  
  .btn__container{
    display: flex;
  }

  .counter__output{
    text-align: center;
    font-size: 1.8rem;
    font-style: revert;
    font-weight: 600;
    line-height: 1.8rem;
  }

  .control__btn{
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0 4rem;

    .control__btn-next{
      width: 2rem;
    }

    .control__btn-prev{
      width: 2rem;
      transform: rotate(180deg);
    }
  }
}