button {
    font: bold 18rem/1 "Comic Sans MS", "Comic Sans", cursive !important;
    color: #de6a17f7;
}

.main-link{
    color: #fff;
    text-decoration: none;
    
    &:hover{
        color: #de6a17f7;
    }
    
    &:disabled{
        color: #241005ef;
    }
}