button {
    font: bold 18rem/1 "Comic Sans MS", "Comic Sans", cursive !important;
    color: rgba(222, 106, 23, 0.97);
}

.main-link{
    color: white;
    text-decoration: none;
    
    &:hover{
        color: rgba(222, 106, 23, .97);
    }
    
    &:disabled{
        color: #241005ef;
    }
}