body {
  min-width: 490rem;
}

.grid-container {
  position: relative;
  display: grid;
  width: 45%;
  margin: 1rem auto;
  grid-template-columns: repeat(12, minmax(10rem, 1fr));
  grid-template-rows: repeat(12, minmax(10rem, 1fr));
  background: #81a740 center url("../../images/grid.png") no-repeat;
  background-size: contain;
}

.grid-container > div {
  aspect-ratio: 1 / 1;
}

.grid-item--availible{
  background-color: #5eeb5e;
  opacity: 1;

  .item-style{
    opacity: .5;
  }
}

.grid-item--window{
  background-color: #e2e73e;
  opacity: 1;

  .item-style{
    opacity: .5;
  }
}

.grid-item--end{
  background-color: #d35cea;
  opacity: .5;

  .item-style{
    opacity: .5;
  }
}

.grid-item {
  background-size: cover;
  border: .05rem solid #B95A27;
  z-index: 10;
}

.item-style{
  background-size: cover;
  height: -webkit-fill-available;
  z-index: 1;
}