body {
  margin: 0;
  min-width: 490px;
}

.grid-container {
  position: relative;
  display: grid;
  width: 40%;
  margin: 1rem auto;
  // border: 5px green solid;
  grid-template-columns: repeat(12, minmax(1rem, 1fr));
  grid-template-rows: repeat(12, minmax(1rem, 1fr));
  background: #81a740 center url("../../images/grid.png") no-repeat;
  background-size: contain;
}

.grid-container > div {
  aspect-ratio: 1 / 1;
}

.grid-item--availible{
  background-color: rgb(94, 235, 94);
  opacity: 1;

  .item-style{
    opacity: 0.5;
  }
}

.grid-item--window{
  background-color: rgb(226, 231, 62);
  opacity: 1;

  .item-style{
    opacity: 0.5;
  }
}

.grid-item--end{
  background-color: rgb(211, 92, 234);
  opacity: .5;

  .item-style{
    opacity: 0.5;
  }
}
