body {
  margin: 0;
  min-width: 490px;
}

.grid-container {
  display: grid;
  border: 5px green solid;
  grid-template-columns: repeat(12, minmax(40px, 1fr));
  grid-template-rows: repeat(12, minmax(40px, 1fr));
  background: green center url("../../assets/img/gameField.webp") no-repeat;
  background-size: contain;
}

.grid-container > div {
  aspect-ratio: 1 / 1;
}

.grid-item {
  background-color: none;
}