body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #de6a17f7;;
}

a {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.App {
  text-align: center;
  .App-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300rem;
    min-height: 100vh;
    font-size: calc(100rem + 2vmin);
    color: #fff;
    background-color: #df7c0a;    

    .App-logo {
       height: 100%;
    }
    .list_link {
      position: absolute;
      padding: 10rem;
      font: bold 18rem/.56 Helvetica, Sans-Serif;
      text-transform: uppercase;
      background-color: #241005ef;
      border: ridge 5rem #a64304;
      border-radius: 15rem;

      .list_li {
        padding: 0;
        list-style: none;

        button {
          font-size: 18rem;
        }
      }
    }
  }
}