.players-card{
  display: flex;
  flex-direction: column;
  background-color: #FEDAA1;
  width: 100rem;
  margin: 5rem 0;
  border: 1rem solid #B95A27;
  border-radius: 5%;
  box-shadow: 0 2rem 4rem rgba(185, 90, 39, .2);

  &__main{
    display: flex;
    align-items: flex-start;
    margin: 5rem;
    margin-bottom: 1rem;
    gap: 5rem;
  }

  &__info{
    display: flex;
    flex-direction: column;
  }

  &__img{
    width: 30rem;
    border: .5rem solid #B95A27;
    border-radius: 10%;
    box-shadow: 0 2rem 4rem rgba(185, 90, 39, .7);
  }

  &__name{
    margin: 0;
    color: #B95A27;
    font-size: 8rem;
    font-style: revert;
    font-weight: 600;
    line-height: 12rem;
  }

  &__heart{
    display: flex;
    flex-wrap: wrap;
  }

  &__heart-image{
    width: 10rem;
    height: 10rem;
    background: url('../../images/Heart.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__items{
    display: flex;
    align-items: flex-start;
    margin: 1rem;

    .items{
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 2rem;
      background-color: #B95A27;
      width: 95rem;
      min-height: 17rem;

      .item{
        width: 17rem;
        height: 17rem;
        background-color: #E8912E;
      }
    }
  }
}
.players-card--hide{
  display: none;
}

.players-card-wrapper{
  position: absolute;
}