.wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  background: center / 100% 100% url('../../../public/backgroundForPlayerSettings.png');  
}

.settings-menu{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30rem auto 0;
  background-color: #faebd7;
  opacity: .9;  
  border: 1rem solid #b95a27;
  border-radius: 5%;
  box-shadow: 0 0 40rem #b95a2733;

  &__title{
    margin: 10rem 0;
    text-align: center;
    font: 600 18rem/1 "Comic Sans MS", "Comic Sans", cursive;
    font-style: revert;
  }
}

.players{
  display: flex;
  flex-direction: column;
  padding: 0 20rem;

  &__subtitle{
    margin: 0;
    font: 500 14rem/.86 "Comic Sans MS", "Comic Sans", cursive;
    font-style: revert;
  }

  &__btn{
    margin: 2rem auto 5rem;
    padding: 4rem;
    text-align: center;
    color: #faebd7;
    border: .5rem solid #b95a27;
    background-color: #a64304;
    border-radius: 10%;
    box-shadow: 0 0 40rem #b95a2733;
    cursor: pointer;

    .player-link{
      color: #fff;
      text-decoration: none;
      font: 600 12rem/1 "Comic Sans MS", "Comic Sans", cursive;
      font-style: revert;
      
      &:hover{
          color: #de6a17f7;
      }
      
      &:disabled{
          color: #241005ef;
      }
    }
  }
}
