.wrapper{
  position: absolute;
  background-image: url('../../../public/backgroundForPlayerSettings.png');
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
}

.settings-menu{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: antiquewhite;
  opacity: 0.9;
  margin: 3rem auto 0;
  border: .1rem solid #B95A27;
  border-radius: 5%;
  box-shadow: 0 0 4rem rgba(185, 90, 39, .2);

  &__title{
    margin: 1rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-style: revert;
    font-weight: 600;
    line-height: 1.8rem;
  }
}

.players{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  &__subtitle{
    margin: 0;
    font-size: 1.4rem;
    font-style: revert;
    font-weight: 500;
    line-height: 1.2rem;
  }

  &__btn{
    margin: 0.2rem auto 0.5rem;
    padding: 0.4rem;
    width: 20%;
    text-align: center;
    border: 0.05rem solid #B95A27;
    background-color: #a64304;
    color: antiquewhite;
    border-radius: 10%;
    box-shadow: 0 0 4rem rgb(185 90 39 / 20%);
    cursor: pointer;
  }
}

.main-link{
  color: white;
  text-decoration: none;
  
  &:hover{
      color: rgba(222, 106, 23, 0.97);
  }
  
  &:disabled{
      color: #241005ef;
  }
}