.block_Spinner-Swords {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.battleField {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;  
  background: rgba(13,13,13,.8);
  z-index: 15;
}
.player_cards {
  margin-top: 20rem;

  .battle-card__name {
    padding-top: 30rem;
    padding-left: 40rem;
    font-size: 15rem;
  }
  .battle-card__img {
    width: 150rem;
  }
}
.monster_cards {
  margin-top: 20rem;

  .battle-card__img {
    width: 150rem;
  }
  .battle-card__name {
    padding-top: 30rem;
    font-size: 15rem;
  }
}
.battle_card {
  width: 200rem;
  height: 250rem;
  background-color: #0ff;
  border: 2rem ridge rgba(26, 70, 158, .6);
}
.battle-card__name {
  margin: 0;
  width: 140rem;
  height: 20rem;
  padding-left: 25rem;
  padding-top: 15rem;
  color: #102f72;
}
.battle_card--hide {
  width: 200rem;
  height: 250rem;
  background-color: rgb(197, 123, 121);
  border: 2rem ridge #f00;
  
  .battle-card__img {
    display: none;
  }
}
.battle_card--hide::before {
  display: flex;
  justify-content: space-around;
  margin-top: 50rem;
  color: #000;
  font-size: 30rem;
  content: "Проиграл:";
}
.battle_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swords{
  padding-left: 4rem;
  padding-top: 7rem;
  width: 50rem;
}
.text_swords {
  padding-left: 2.5rem;
  padding-top: 2rem;
  color: #bcdede;
  font-size: 14rem;
}
.spinerNone {
  display: none;
}


