.slider-wrapper{
  display: flex;
  position: relative;
}
.slider {
    position: relative;
    width: 3rem;
    height: 5rem;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .slider__img {
    position: absolute;
    width: 3rem;
    transition: all 0.2s;
  }
  
  .slider__img--prev {
    transform: translateX(-100%);
  }
  
  .slider__img--next {
    transform: translateX(100%);
  }

  .control__btn{
    cursor: pointer;
    background: transparent;
    border: none;

    .next{
        width: 1.5rem;
    }

    .prev{
        width: 1.5rem;
        transform: rotate(180deg);
    }
}

.icon{
  width: 2.8rem;
  height: 2.8rem;
  box-shadow: 0 0px 4px rgb(0 0 0 / 25%);

  &:hover{
    box-shadow:0 0 10px #b23808;
  }
}

.icon-active{
  border: 2px solid #dd3009;
}
.icon-inactive{
  border: 1px solid black;
}